{% extends "base.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/stored_posts.css' %}" />
{% endblock css_files %}

{% block page_title %}
   Stored Posts
{% endblock page_title %}

{% block content %}
   
    <section id="stored-posts">
        {% if not has_post %}
            <p>You didn't save any post for later.</p>
        {% endif %}
        <ul>
            {% for post_item in posts %}
                <li><a href="{% url 'post_detail_page' post_item.slug %}">{{ post_item.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}
